#galleryzer {
	&_forum_nav_wrapper {
    height: 30px;
    padding: 0 .5rem .5rem;
    box-sizing: border-box;

    + #galleryzer_wrapper {
      height: calc(100% - 30px);
    }
  } 
}

.galleryzer {
  &_forum_real_nav {
    revert: all;
    margin: 0;
    color: #eee;

    .pageNavHeader {
      margin-bottom: 0;
    }
  }
}